---
import Layout from "../../layouts/Layout.astro";
import LayoutCenter from "../../components/LayoutCenter.vue";
import ListView from "../../components/ListView.vue";
import supabase from "../../utilities/supabase";

const { list: id } = Astro.params;

const { data: list, error } = await supabase
  .from("lists")
  .select(
    `
        *,
        list_items ( * )
        `
  )
  .limit(1)
  .eq("id", id)
  .single();

const title = list.list_name;
---

<Layout title={title}>
  <main style="margin-bottom: var(--s12);">
    <LayoutCenter maxWidth="var(--bp-40)">
      <ListView client:only="vue" id={Number(id)} list={list} list_items={list.list_items} />
    </LayoutCenter>
  </main>
</Layout>
