---
import Layout from "../../layouts/Layout.astro";
import Sidebar from "../../components/Sidebar.astro";
import SidebarContainer from "../../components/SidebarContainer.astro";
import { CenterLayout } from "../../components/CenterLayout.js";
import {ListView} from "../../components/ListView.js";

export async function getStaticPaths() {
  const lists = await Astro.glob('../../data/list/*.md');

  return lists.map(list => {
    return {
      params: { list: list.frontmatter.slug },
      props: { title: list.frontmatter.title, listItems: list.frontmatter['list-item'] }
    }
  });
}

const { title, listItems } = Astro.props;
---

<Layout title="Wishlist">

  <main class="app">
    <SidebarContainer>
      <Sidebar />

      <div>
        <CenterLayout max-width="var(--bp-48)" padding="var(--global-padding)">
          <ListView title={title} data={JSON.stringify(listItems)} client:load></ListView>
        </CenterLayout>
      </div>
    </SidebarContainer>
  </main>
</Layout>

<style>
  .app > * {
    gap: 0;
  }
</style>