$colors: (
  green-1: hsl(148, 100%, 15%),
  green-2: hsl(120, 100%, 20%),
  green-3: hsl(120, 100%, 22%),
  green-4: hsl(120, 100%, 25%),
  green-5: hsl(101, 100%, 35%),
  green-6: hsl(90, 100%, 44%),
  green-7: hsl(83, 88%, 52%),
  green-8: hsl(75, 100%, 60%),
  green-9: hsl(74, 71%, 92%),
  gray-1: hsl(210, 11%, 15%),
  gray-2: hsl(210, 10%, 23%),
  gray-3: hsl(210, 9%, 31%),
  gray-4: hsl(208, 7%, 46%),
  gray-5: hsl(210, 11%, 71%),
  gray-6: hsl(210, 14%, 83%),
  gray-7: hsl(210, 14%, 89%),
  gray-8: hsl(210, 16%, 93%),
  gray-9: hsl(210, 17%, 98%),
  hotpink-1: hsl(333, 93%, 70%),
  priority-high: hsl(90, 100%, 44%),
  priority-medium: hsl(90, 83%, 80%),
  priority-low: hsl(90, 70%, 95%),
);