@use './paths';

$_path: paths.$base-font-path;

@mixin font-face($font) {
  src: url(#{$_path}/#{$font}.eot?#iefix) format('embedded-opentype'),
    url(#{$_path}/#{$font}.woff2) format('woff2'),
    url(#{$_path}/#{$font}.woff2) format('woff'),
    url(#{$_path}/#{$font}.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: '';
  //@include font-face([font]);
}
