/* ELEMENT STYLES */
html, :host {
  font-family: sans-serif;
}
main {
  display: flex;
  min-height: 100vh;
}

button {
  color: inherit;
  text-align: inherit;
  display: block;
}

select {
  background-color: var(--light-gray);
  border-radius: var(--border-radius-1x);
  padding: 6px 8px;
}

small {
  font-size: var(--s-2);
}
