html {
  font-family: sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
}

button {
  color: inherit;
  text-align: inherit;
  display: block;
}

select {
  appearance: none;
  color: var(--violet-dark);
  background-color: transparent;
  border: 2px solid var(--violet);
  border-radius: var(--border-radius-2x);
  padding: 6px 24px 6px 12px;
}

small {
  font-size: var(--s-2);
}