---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import SidebarContainer from "../components/SidebarContainer.astro";
import ListView from "../components/ListView.astro";
---

<Layout title="Wishlist">
  <main class="app u-width-100%">
    <SidebarContainer>
      <Sidebar />
      
      <div>Homepage Content</div>
    </SidebarContainer>
  </main>
</Layout>

<style>
  .app > * {
    gap: 0;
  }
</style>
