---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import SidebarContainer from "../components/SidebarContainer.astro";
import ListView from "../components/ListView.astro";
---

<Layout title="Wishlist">
  <main class="app">
    <SidebarContainer>
      <Sidebar />
      
      <div>Homepage Content</div>
    </SidebarContainer>
  </main>

  <script>
    // @ts-nocheck
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</Layout>

<style>
  .app > * {
    gap: 0;
  }
</style>
