---
import Layout from "../layouts/Layout.astro";
import AuthAppPrototype from "../components/AuthWidget.vue";
---

<Layout title="Wishlist">
  <h1>Homepage</h1>
</Layout>

<style>
  .app > * {
    gap: 0;
  }
</style>
