<a href="/" class="button">Item Link</a>

<style>
  .button {
    border-radius: var(--border-radius-3x);
    text-decoration: none;
    background: var(--light-gray);
    display: inline-block;
    padding: 6px 24px;
  }
</style>
