---
import ListViewFilterSort from "./ListViewFilterSort.astro";
import ListViewItem from "./ListViewItem.astro";

const { title, listItems } = Astro.props;
---

<div>
  <div
    class="l-center"
    style="--cr-max-width: var(--bp-48); --cr-padding: var(--global-padding);"
  >
    <div class="list-view">
      <div class="l-stack" style="--st-gap: var(--s6)">
        <h1>{title}</h1>

        <ListViewFilterSort />

        <div class="list-view__items">
          {listItems.map(li => <ListViewItem data={li}/>)}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .list-view {
    margin-top: var(--s12);
  }

  .list-view__items {
    border-width: 1px 0 1px 0;
    border-color: var(--light-gray);
  }
</style>
