---
const lists = await Astro.glob('../data/list/*.md');
---

<nav class="list-navigation">
  <ul role="list">
    {lists.map(list => <li><a href={`/lists/${list.frontmatter.slug}`}>{list.frontmatter.title}</a></li>)}
  </ul>
</nav>

<style>
  .list-navigation {
    min-width: 15.625rem;
  }
  .list-navigation > * {
    border: 1px solid hsl(255, 40%, 50%);
    border-left-width: 0px;
    border-right-width: 0px;
  }

  .list-navigation > *:before,
  .list-navigation > *:after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    border-top: 1px solid var(--violet-darkest);
  }

  .list-navigation > *:before {
    transform: translateY(-2px);
  }

  .list-navigation > * {
    margin: 0;
    padding: 0;
  }

  .list-navigation a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: var(--s-3) var(--s10) var(--s-3) var(--s0);
  }

  .list-navigation > * > *:not(:first-child) {
    border-top: 1px solid var(--violet);
  }

  .list-navigation > * > *:not(:first-child):before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    border-top: 1px solid var(--violet-darkest);
    transform: translateY(-2px);
  }
</style>
