---
export interface Props {
  title: string;
}

import "../styles/index.css";
import { LayoutCenter } from "../components/LayoutCenter.js";
import AppSidebarContent from "../components/AppSidebarContent.astro";
import "../components/AppSidebar.js";
import {NetlifyIdentity} from '../components/NetlifyIdentity.js';

const { title } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="app u-width-100%">
      <app-sidebar classes={{'app-sidebar' : true}}>
          <div slot="sidebar">
            <AppSidebarContent />
          </div>
        
        <div slot="notsidebar">
          <div class="u-margin-block-start-s12">
            <LayoutCenter max-width="var(--bp-48)" padding="var(--global-padding)">
              <slot />
            </LayoutCenter>
          </div>
        </div>
      </app-sidebar>
    </main>

    <NetlifyIdentity client:load />
  </body>
</html>

<style>
  .app > * {
    gap: 0;
  }
</style>
