---
export interface Props {
	title: string;
}

import '../styles/index.css';

const { title } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <slot />
	</body>
</html>

<style>
  .app > * {
    gap: 0;
  }
</style>

